<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>结巴分词测试页面</title>
    <script src="/static/plugins/jquery/jquery-1.12.2.js"></script>
    <script>
        function decode(str){
              str = str.replace(/\\/g, "%");
              return unescape(str);
        }
        $(function(){
            $("#sub").click(function(){
                var cont = $("#content").val();

                if("" === cont){
                    alert("please input text to split.");
                }
                $.get("/jieba/split?cont="+cont,function(jsonData){
                     if(jsonData["ret"] == "0"){
                            $("#result").append(jsonData["msg"]);
                            return;
                     };
                     $("#result").append(decode(jsonData["data"])).append("<br>");
                },"json")

            })
        });

    </script>
</head>
<body>
<center>
    输入一句话：<input id="content" type="text"/>
    <input id="sub" type="button" value="提交"/>
    <div id="result" style="width:500px;height:500px;border:1px solid;"></div></center>
</body>
</html>