<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>结巴分词测试页面</title>
    <script src="/templates/plugins/jquery/jquery-1.12.2.js"></script>
    <script>
        $(function(){
            $("#sub").click(function(){
                var cont = $("content").val();
                if("" === cont){
                    alert("please input text to split.");
                }
                $.ajax({
                    type:'post',
                    url:'',
                    data:{'cont':cont},
                    success:function(jsonData){

                    },
                    error:function(){
                        alert("request failed!");
                    }
                });
            })
        });

    </script>
</head>
<body>
    输入一句话：<input id="content" type="text"/>
    <input id="sub" type="button" value="提交"/>
    <div id="result" style="width:500px;height:500px;border:1px solid;"></div>
</body>
</html>