
<script src="/static/plugins/jquery/jquery-1.12.2.js"></script>
<script>
    function decode(str){
          str = str.replace(/\\/g, "%");
          return unescape(str);
    }
    $(function(){
        $("#jieba_sub").click(function(){
            var cont = $("#content").val();

            if("" === cont){
                alert("please input text to split.");
            }
            $.get("/jieba/split?cont="+cont,function(jsonData){
                 if(jsonData["ret"] == "0"){
                        $("#jieba_result").append(jsonData["msg"]);
                        return;
                 };
                 $("#jieba_result").append(decode(jsonData["data"])).append("<br>");
            },"json")

        })
        searchHistory();
    });
    function searchHistory(){
         $.get("/jieba/gethistory",function(jsonData){
                 if(jsonData["ret"] == "0"){
                        $("#jieba_result").append(jsonData["msg"]);
                        return;
                 };
                 hisData =  JSON.parse(jsonData["data"]);
               //  $("#jieba_history").append(hisData)
                for(var i=0;i<hisData.length;i++){
                    v = hisData[i];
                    time = v["time"];

                    content = decode(v["cont"]);
                     $("#jieba_history").append("<div><b>时间-"+time+":</b></div>");
                      $("#jieba_history").append("<div><b>内容：</b>"+content+"</div><br>");
                 }

            },"json")
    }
</script>

<div style="width:100%;">
   <div style="width:80%;margin-left:10%;">
        <h3>输入一句话：</h3>
        <input id="jieba_content" type="text"  style="width:400px;"/>
        <input id="jieba_sub" type="button" value="提交"/><br><br>
        <div id="jieba_result" style="width:100%;height:300px;border:1px solid;"></div>
        <br><br>
        <h1>全部提交历史记录</h1>
        <div  style="border:solid 1px;">
            <div id="jieba_history" style="margin-left:10px;margin-top:10px;"></div>
        </div>
   </div>

</div>


