<style>
    .split-img-item{
        width:120px;height:120px;float:left;border:solid 1px;margin-left:1px;margin-top:1px;
    }

    .img-item{
        width:100%;height:100%;
    }

</style>
<h1>其实呢，这是一个拼图游戏，就是以前老式手机上那种打乱了图形碎片顺序然后镂空一块点击移动拼图的小游戏！TODO了</h1>
<div>
    <div id="puzzle_container" class="col-md-6 col-md-offset-3" style="height:400px;width:400px;">
       <!-- <div class="split-img-item" idx="1"><h1>7</h1></div>
        <div class="split-img-item" idx="2"><h1>5</h1></div>
        <div class="split-img-item" idx="3"><h1>3</h1></div>
        <div class="split-img-item" idx="4"><h1>4</h1></div>
        <div class="split-img-item" idx="5"><h1>8</h1></div>
        <div class="split-img-item" idx="6"><h1>2</h1></div>
        <div class="split-img-item" idx="7"><h1>1</h1></div>
        <div class="split-img-item" idx="8"><h1>6</h1></div>-->

    </div>


</div>
<div></div>
<script>
    $(function(){

        initGrid();

        $(".split-img-item").click(function(){
            console.log("click img item.");
            var idx = $(this).attr("idx")
            itemClick(idx);
        });

    });


    item_null_idx = 9;
    function initGrid(){
        var black = '<div class="split-img-item" idx="9"><div idxx="9" style="background-color:#222;width:120px;height:120px;"></div></div>';
        $.get("/game/get_image").done(function(data){
            var url_item = data['data'][0];
            var urltotal = url_item["total"];
            var url_list = url_item["part"];
            var hasBlack = 0;
            var index = 0;
            for(var i =0;i<url_list.length+1;i++){
                if(hasBlack == 0){
                    if(Math.random()<0.125){
                        var black = '<div class="split-img-item" idx="'+(i+1)+'"><div idxx="'+(i+1)+'" style="background-color:#222;width:120px;height:120px;"></div></div>';
                        $("#puzzle_container").append(black);
                        item_null_idx = i+1;
                        hasBlack = 1;
                        continue;
                    }
                }
                if(i== url_list.length && hasBlack == 0){
                    var black = '<div class="split-img-item" idx="9"><div idxx="9" style="background-color:#222;width:120px;height:120px;"></div></div>';
                    $("#puzzle_container").append(black);
                    hasBlack = 1;
                    item_null_idx = 9;
                    break;
                }
                var part = url_list[index++];
                var html_item = '<div class="split-img-item" idx="'+(i+1)+'"><img class="img-item" idxx="'+part["idx"]+'" src="'+part["url"]+'"/></div>';
                $("#puzzle_container").append(html_item);
            }

            $(".split-img-item").click(function(){
                var idx = $(this).attr("idx")
                itemClick(idx);
            });
        });;
    }

    function itemClick(idx){
        console.log(idx,item_null_idx);
        idx = parseInt(idx);
        inidx = parseInt(item_null_idx);
        if(idx == inidx){
            return;
        }
        if(idx+1==inidx || idx-1==inidx || idx+3==inidx || idx-3==inidx){
            var item = $("[idx="+idx+"]").html();
            var aim = $("[idx="+inidx+"]").html();
            if(aim == "" || item==""){
                alert("error");
                return;
            }
            console.log("item:",item,idx);
            console.log("aim：",aim,inidx);
            $("[idx="+idx+"]").empty();
            $("[idx="+inidx+"]").empty();
            $("[idx="+idx+"]").append(aim);
            $("[idx="+inidx+"]").append(item);
            item_null_idx = idx;
            console.log("item_null_idx:",item_null_idx);
        }
        var check = checkSuccess();
        if(check){
            alert("拼图成功！");
        }
    }

    function checkSuccess(){
        var suc = true;
        for(var i=1;i<9;i++){
            var item = $("[idx="+i+"]");
            var tar = parseInt($(item.html()).attr("idxx"));
             console.log('check:',i,tar);
            if(i!=tar){
                suc = false;
                break;
            }

        }
        console.log("result:",suc);
        return suc;
    }
</script>