<script src="../static/plugins/jquery/jquery-1.12.2.js"></script>
<div class="page-header">
    <h1>九百月
        <small></small>
    </h1>
</div>
<p class="text-info">如果活75岁，那人生就是900个月，绿色的是未来，灰色的是过去，全图变灰时，就Game Over了。</p>
<p class="text-info">那黄色呢？</p>
<p class="text-info">对不起，我的人生从那一刻开始就不会变灰了，我永生~哼哼</p>
<br>
<div  class="foru-container">
    <center id="foru_life_container">

    </center>
</div>

<style>
    .foru-container{
        top:50px;
        height:80%;
        margin-left:20%;
    }
    .span-item{
        width:12px;
        height:12px;
        margin-left:2px;
        margin-top:2px;
        float:left;
    }
    .span-item1{
       background-color:#555;
    }
    .span-item2{
        background-color:#aaaa00;
    }
    .span-item3{
         background-color:#00bb00;
    }
</style>
<script>
    $(function(){
        refreshGrid();
    });
    function refreshGrid(){
        $.get("/foru/lifemonths","",function(jsonData){
            var n1 = jsonData["n1"];
            var n2 = jsonData["n2"];
            buildGrid(n1,n2);
        });
    }
    function buildGrid(n1,n2){
        var n1 = parseInt(n1);
        var n2 = parseInt(n2);
        var sum = 30*30;
        var item = ['<div class="span-item span-item1"></div>','<div class="span-item span-item2"></div>','<div class="span-item span-item3"></div>'];
        var html = "";
        var idx = 0;
        for(var i=0;i<30;i++){
            line = '<div style="clear:both;">';
            for(var j=0;j<30;j++){
                console.log(n1,n2,idx);
                var aim=0;
                if(idx<n1){
                    aim = 0;
                }else if(idx < n2){
                    aim = 1;
                }else{
                    aim = 2;
                }
                var it = item[aim];
                line+=it;
                idx += 1;
            }
            line+='</div>';
            html+=line;

        }
        $("#foru_life_container").html(html);
    }
</script>