<script src="../static/plugins/jquery/jquery-1.12.2.js"></script>
<div>
    <h1>留言板
        <small>留下你的痕迹，少年~</small>
    </h1>

    <form role="form">
        <div class="form-group">
            <textarea class="form-control" rows="5" id="message_textarea" placeholder="万水千山总是情，留下一句行不行！"></textarea>
            <!--<br>-->
            <!--<button type="button" class="btn btn-primary " id="message_submit">提交</button>-->

        </div>
    </form>

    <form class="form-inline">
      <label class="sr-only" for="message_input_nickname">Name</label>
      <div class="input-group mb-2 mr-sm-2 mb-sm-0">
        <div class="input-group-addon">昵称</div>
        <input type="text" class="form-control" id="message_input_nickname" placeholder="匿名游客">
      </div>

        <label class="sr-only" for="messager_email">联系方式</label>
      <div class="input-group mb-2 mr-sm-2 mb-sm-0">
        <div class="input-group-addon">邮箱</div>
        <input type="text" class="form-control " id="messager_email" placeholder="保密">
      </div>

      <label class="sr-only" for="message_input_city">Username</label>
      <div class="input-group mb-2 mr-sm-2 mb-sm-0">
        <div class="input-group-addon">地点</div>
        <input type="text" class="form-control " disabled id="message_input_city" placeholder="天津市">
      </div>

      <button type="button" id="message_submit" class="btn btn-primary pull-right">提&nbsp;&nbsp;交</button>
    </form>
    <hr>
    <div id="msg_history">
        <!--<div class="alert alert-success">-->
            <!--<div >-->
                <!--<span class="label label-success">匿名用户</span>-->
                <!--<span class="label label-info ">天津市</span>-->
                <!--<span class="label label-default pull-right">2018-1-26 9:50:50</span>-->
            <!--</div>-->
            <!--<br>-->
            <!--<p class="text-info">Nullam id dolor id nibh ultricies vehicula ut id elit.</p>-->
        <!--</div>-->
    </div>
    <!--<div class="alert alert-success" role="alert">-->
        <!--<strong>Heads up!</strong> This alert needs your attention,-->
        <!--but it's not super important.-->
    <!--</div>-->


</div>

<script>
    function formatMessage(msg){

        var city = msg["f_city"];
        var content = msg['f_content'];
        var id = msg['f_id'];
        var nickname = msg['f_nickname'];
        var time = msg['f_time'];

        cityInfo = city.split("|");
        if(cityInfo.length == 5){
            city = cityInfo[3];
        }


        <!--html = ' <div class="alert alert-success" role="alert"><strong>'-->
        <!--+nickname+':</strong>'-->
        <!--+content+'</div>'-->

        var html =
      '  <div class="alert alert-success">'+
      '      <div >'+
      '          <span class="label label-success">'+nickname+'</span>'+
      '          <span class="label label-info ">'+city+'</span>'+
      '          <span class="label label-default pull-right">'+time+'</span>'+
      '      </div>'+
      '      <br>'+
      '      <p class="text-info">'+content+'</p>'+
      '  </div>';
      console.log(html);
        return html;
    }
    function searchMessageList(){
        $.get("/message/search_message",{},function(jsonData){
            if(jsonData['ret'] == "0"){
                alert(jsonData["msg"]);
                return;
            }
            data = jsonData["data"];
            $("#msg_history").html("");
            for(var i=0;i<data.length;i++){
                var html = formatMessage(data[i]);
                $("#msg_history").append(html);
            }

        })
    }

    function getCityInfo(){
        $.get('/message/get_city',"",function(jsonData){
            if(jsonData && jsonData['ret'] == '1'){
                city = jsonData['data']['city'];
                cityInfo = city.split("|");
                if(cityInfo.length == 5){
                    city = cityInfo[3];
                }

                $("#message_input_city").val(city);
            }
        })
    }

    $(function(){
        searchMessageList();
        getCityInfo();


        $("#message_submit").click(function(){
            var message = $("#message_textarea").val();
            var nickname = $("#message_input_nickname").val();
            var email = $("#messager_email").val();
            if("" === message){
                alert("请输入！");
                return;
            }
            if(nickname === ""){
                nickname = "匿名游客";
            }
            if(email === ""){
                email = 'example@qq.com';
            }
            data = {
                "nickname":nickname,
                "message":message,
                "email":email
            };
            $.ajax({
                type:'post',
                url:'/message/submit_message',
                data:data,
                dataType:'json',
                success:function(jsonData){
                    //alert(JSON.stringify(jsonData));
                    searchMessageList();
                    $("#message_textarea").val('');
                },
                error:function(err){
                    alert("留言失败！");
                }
            });
        });
    });
</script>
