<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<base href="<%=basePath%>">
<title>stagebo</title>
<link rel="shortcut icon" href="stagic/image/favicon.ico" type="image/x-icon" />
<meta http-equiv="pragma" content="no-cache">
<meta http-equiv="cache-control" content="no-cache">
<meta http-equiv="expires" content="0">
<meta http-equiv="keywords" content="stagebo,wyb,博客">
<meta http-equiv="description" content="This page is write by Stagebo.">
<!--
	<link rel="stylesheet" type="text/css" href="styles.css">
	-->
<link rel="stylesheet" href="static/plugins/Bootstrap/css/bootstrap.css">
<link rel="stylesheet" href="static/plugins/Bootstrap/css/bootstrap-theme.css">


<script src="static/plugins/jquery/jquery-1.12.2.js"></script>
<script src="static/plugins/Bootstrap/js/bootstrap.js"></script>

<script type="text/javascript">
	$(function() {
		//注册主页头部页面点击事件
		$("a[itype='item-link']").click(function() {
			var target = $(this).attr("target");
			$.ajax({
			  url: target,
			  type:'get',
			  data: {},
			  dataType:'html',
			  success: function(data){
			  	$("#cont").html(data);
			  },
			  error: function(){
			  	alert("can not find this page.");
			  }
			});
		});
		//进站先浏览主页
		$("a.active").click();
		//初始化base_foru按钮
		initBaseForu();
		//登录TODO
		$("#signin_button").click(function() {
			/* $("#personal_bar").show();
			$("#sign_bar").hide(); */
			window.location.href = "Login/toLogin";
		});
		//登出TODO
		$("#signout_button").click(function() {
			$("#personal_bar").hide();
			$("#sign_bar").show();
		});
	});
	function initBaseForu(){
		$.get("/foru/lineforu","",function(jsonData){
			$("#base_foru").html(jsonData["days"]);
		});
	}
</script>

<style>
.main-container {
	margin-top: 50px;
	margin-bottom: 50px;
	width: 60%;

}
.padding-top-5 {
	margin-top: 5px;
}
.base-footer {
	position: fixed;

	bottom: 0px;
	left:0;
	width: 100%;
	height: 20px;

}
body{
	font-familly:'微软雅黑';
}
.base-bg-img{
	 background-image:url("static/image/bgimg.jpg");
	 position:fixed;
	 top:0;
	 left:0;
	 height:100%;
	 width:100%;
	 background-position:center 0;
	 background-repeat:no-repeat;
	 z-index:-10;
}

</style>

<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?56f1e156dd6d71098d6b6f0e8c4d7664";
  var s = document.getElementsByTagName("script")[0];
  s.parentNode.insertBefore(hm, s);
})();
</script>

	<script src="https://s13.cnzz.com/z_stat.php?id=1272819778&web_id=1272819778" language="JavaScript"></script>

</head>

<body>
	<div class="base-bg-img"></div>
	<div>
		<div class="container">
			<div class="navbar navbar-inverse navbar-fixed-top">
				<ul class="nav nav-pills padding-top-5" style="float:left">
					<li class="nav-item"><a class="nav-link active"
						itype="item-link" href="javascript:void('');"
						target="/main">主页</a></li>
					<li class="nav-item"><a class="nav-link" itype="item-link"
						href="javascript:void('');" target="/jieba">结巴分词测试</a></li>
					<li class="nav-item"><a class="nav-link" itype="item-link"
						href="javascript:void('');" target="/chatbot">聊天机器人</a></li>
					<li class="nav-item"><a class="nav-link" itype="item-links"
						href="http://www.stagebo.xyz:9000" target="/Message/getMessagePage">我的博客</a></li>
					<li class="nav-item"><a class="nav-link" itype="item-link"
						href="javascript:void('');" target="/message" >留言板</a></li>
					<li class="nav-item"><a class="nav-link" itype="item-link"
						href="javascript:void('');" target="/foru" id="base_foru">222</a></li>
					<li class="nav-item"><a class="nav-link" itype="item-link"
						href="javascript:void('');" target="/about">关于</a></li>
				</ul>

				<div style="float:right;display:none;" class="padding-top-5" id="sign_bar">
					<button type="button" class="btn btn-link padding-top-5"
						id="signin_button">登录</button>
					<button type="button" class="btn btn-link padding-top-5"
						id="signup_button">注册</button>
				</div>
				<div style="float:right;display:none;" class="padding-top-5"
					id="personal_bar">
					<button type="button" class="btn btn-link padding-top-5"
						id="personal_center_button">个人中心</button>
					<button type="button" class="btn btn-link padding-top-5"
						id="signout_button">退出登录</button>
				</div>


			</div>
		</div>

		<div style="width:20%;float:left;height:500px;">

		</div>
		<div class="main-container" style="float:left;">
			<div class="panel panel-default">
				<div class="panel-body" style="position:relative;" id="cont">

				</div>

					<center>
						<div id="site_statistics" >123
						</div>
						<div style="width:100%;text-align:center">&copy;2017-2018 stagebo | 黔ICP备18000066号</div>
					</center>
				</div>
		</div>

	</div>
	<script type="text/javascript">
			var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");
			document.write(unescape("%3Cspan id='cnzz_stat_icon_1272819778'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s13.cnzz.com/z_stat.php%3Fid%3D1272819778%26online%3D1%26show%3Dline' type='text/javascript'%3E%3C/script%3E"));
			var ht = unescape("%3Cspan id='cnzz_stat_icon_1272819778'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s13.cnzz.com/z_stat.php%3Fid%3D1272819778%26online%3D1%26show%3Dline' type='text/javascript'%3E%3C/script%3E");
			console.log(document.getElementById("site_statistics"))
			document.getElementById("site_statistics").innerHTML = ht;
	</script>
	<foot class="base-footer" style="display:none;">
		<div style="width:100%;text-align:center">&copy;2017-2018 stagebo | 黔ICP备18000066号</div>
	</foot>
</body>
</html>