<style>
  path {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    -webkit-animation: dash 5s linear infinite;
    animation: dash 5s linear infinite;
  }

  @-webkit-keyframes dash {
    to {
      stroke-dashoffset: 0;
    }
  }
  @keyframes dash {
    to {
      stroke-dashoffset: 0;
    }
  }
</style>

<!--<div>-->
  <!--<center>-->
    <!--<h1 class="pull-center">承接计算机毕设代做</h1>-->
    <!--<ul>-->
      <!--<li>qq：1254117589</li>-->
      <!--<li>微信：1254117589</li>-->
    <!--</ul>-->
  <!--</center>-->
  <!--<img src="static/image/bishedaizuo.jpg" style="width:80%;margin-left:10%;margin-top:20px;margin-bottom:50px;"/>-->
<!--</div>-->

<img src="static/image/man.svg" id="toyqy" style="width:30%;margin-left:35%;margin-top:20px;margin-bottom:50px;"/>


<div class="card card-inverse card-success text-center">
  <div class="card-block">
    <blockquote class="card-blockquote">
      <p>做或不做，二者必居其一，要么全力以赴，要么全力退出。</p>
      <footer>post by@ <cite title="Source Title">尼古拉斯·波波</cite></footer>
    </blockquote>
  </div>
</div>
<br><br><br><br><br>
<center><img id="img_main"/></center>
<script>
						$(function(){
						    $("#toyqy").click(function(){
						      window.location.href="/foru/loveyqy";
						    });
							$.get('/admin/get_day_word',{},function(jsonData){
									console.log(jsonData);
									//$('#day_word_en').html(jsonData["content"]);
									//$('#day_word_ch').html(jsonData["note"]);
									$("#img_main").attr('src',jsonData["fenxiang_img"]);
									//$("#img").append('<img src="'+jsonData["picture"]+'"/>');
									//$("#img").append('<img src="'+jsonData["picture2"]+'"/>');
							});
						});
					</script>
<br><br><br><br><br><br><br><br><br>